/* sourced from : https://codepen.io/aronduby/pen/qliuj?editors=1100 */

div .bracket {
	display:flex;
	flex-direction:row;
	font-size: small;
	padding: 10px;
	line-height: 1.4em;
}

.round{
	display:flex;
	flex-direction:column;
	justify-content:center;
	width:200px;
	list-style:none;
	padding:0;
}

.round .spacer { 
	flex-grow:1; 
}

.round .spacer:first-child,
.round .spacer:last-child { 
	flex-grow:0.5; 
}

.round .match-spacer{
	flex-grow:1;
}

li.match{
	padding-left:20px;
}

li.match.winner{
	font-weight:bold;
}
li.match span{
	float:right;
	margin-right:5px;
}

li.player-one { 
	border-bottom:1px solid #aaa; 
}

li.match-spacer{ 
	border-right:1px solid #aaa;
	min-height:40px;
}

li.player-two{ 
	border-top:1px solid #aaa;
}

